.player-wrapper { position: relative; width: 100%; height: 100%; background: #000; user-select: none !important; -webkit-user-select: none !important; }
.player-iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; user-select: none; -webkit-user-select: none; }
.player-iframe.cineplay-mode { width: 100%; height: 100%; top: 0; left: 0; border-radius: 0; box-shadow: none; border: none; }
